.user-list-container {
    width: 80%;
    margin: auto;
    background-color: burlywood;
    text-align: center;
    

  }
  .user-list-menu{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .primary{
    padding-left: 50px;
    display: flex;
  }
  
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  mat-card {
    margin: 10px;
    width: 200px;
    cursor: pointer;
  }

mat-form-field {
    margin-left: auto;
    margin-right: 16px;
  }