/* You can add global styles to this file, and also import other style files */
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    /* width: 60vh; */
    height: 100vh;
    /* display: flex;
    align-items: center; */
    justify-content: center;
    padding: 20px;
     /* background: #282C35;  */
  }
  .active{
    font-weight: bold;
    font-size: 18px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
